.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(241, 233, 4);
    color: rgb(235, 235, 235);
    background-color: hsl(341, 62%, 66%);
    font: size 13px;
     
}

.note{
    font-size: 10px;
    color: black;
      
}
.font_size{
    font: size 13px;
}
.song{
    width: 145px;
    height:25px;
    position: center;
    background-color: rgb(8, 232, 244);
    font-size: 15px;
    box-shadow: 5px 5px 5px 5px  rgb(234, 242, 12);
}

